@use '../../config/styles/helpers' as *;

.h1 {
    font-weight: 700;
    font-size: rem(56);
    line-height: rem(60);
    letter-spacing: -1%;
    text-align: center;
    margin-bottom: rem(30);
}

.h2 {
    font-weight: 700;
    font-size: rem(36);
    letter-spacing: -1%;
    margin-bottom: rem(30);
}

.h4 {
    font-weight: 500;
    font-size: rem(18);
    letter-spacing: -1%;
    text-align: center;
}

.body2 {
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(10);
    letter-spacing: 0;
}
