@use '../../config/styles/helpers' as *;

.logo {
    font-size: rem(35);
    color: hsl(var(--color-primary) / 1);
}

.smallLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid rem(3) hsl(var(--color-primary) / 1);
    color: hsl(var(--color-primary) / 1);

    width: rem(40);
    height: rem(40);
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        color: hsl(var(--color-primary-300) / 1);
        border-color: hsl(var(--color-primary-300) / 2);
    }
}

.smallLogoLabel {
    color: inherit;
}
