@use '../../config/styles/helpers' as *;

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(20);
}

.loader {
    align-self: center;
    width: rem(50);
    aspect-ratio: 1;
    border-radius: 50%;
    border: rem(8) solid;
    border-color: var(--color-secondary) transparent;
    animation: l1 1s infinite;
}

.dark {
    border-color: var(--color-secondary) transparent;
}

.light {
    border-color: var(--color-accent) transparent;
}

@keyframes l1 {
    to {
        transform: rotate(0.5turn);
    }
}
