@use '../../shared/config/styles/helpers' as *;

.notificationWrapper {
    position: fixed;
    bottom: rem(20);
    right: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    z-index: 1000;
}

.toastBox {
    display: flex;
    align-items: center;
    gap: rem(10);
    padding: rem(12) rem(20);
    border-radius: rem(8);
    color: white;
    font-weight: bold;
    animation: fadeOut 4s ease-in-out forwards;
}

.success {
    background-color: var(--color-success-200);
}

.error {
    background-color: var(--color-accent);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(#{rem(20)});
    }
}
