@use 'helpers/index' as *;

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}

::placeholder {
    font-size: fluid(16, 14);
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-family), sans-serif;
    background-color: hsl(var(--color-background) / 1);
    color: var(--color-light-100);
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    width: 100%;
    height: 100%;
    padding-inline: rem(16);
}

.badge {
    display: flex;
    align-items: center;
    gap: rem(8);
    max-width: rem(160);
    border-radius: rem(6);
    padding: rem(8) rem(16);
    background-color: var(--color-secondary);
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    font-size: rem(12);
    align-self: flex-start;
    color: hsl(var(--color-danger) / 1);
    border-color: var(--color-accent);
}

.mt50 {
    margin-top: rem(50);
}
